// Resets, Clearfix, etc
@import "./partials/_reset";
@import "./partials/_clearfix";

// Variables
$bg-color-dark: SeaGreen;
$bg-color-light: SeaShell;
$bg-color-bright: SpringGreen;
$padding: 10px;
 
// Media Query Ranges 
@media screen and (min-width: 600px) {
    body {
        background-color: $bg-color-dark;
        text-align: center;
        color: #EEE;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: $bg-color-dark;
        text-align: center;
        color: $bg-color-light;
    }
}
 
// Mixins
@mixin block_font ($block_font_size: 25px, $block_font_color: $bg-color-light) {
  font-size: $block_font_size;
  color: $block_font_color;
}

// Styles
body {
  background-color: $bg-color-dark;
  text-align: center;
  color: $bg-color-light;
}
 
h1, h2, h3, h4 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
 
h1 {
  padding: $padding;
}
 
h2 {
  padding: $padding; 
}
 
 
.block_family {
  max-width: 350px;
  margin: auto;
}
 
.block_family li {
  background-color: $bg-color-bright;
  margin-bottom: 20px;
  padding: $padding;
}